* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: slategrey;
    font-weight: bold;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(44, 138, 182);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 138, 182);
}
