<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click="(e) => e.stopPropagation()">

          <div class="center">
            <!-- <img width="50%" :src="'/static/img/dockerhub.png'" /> -->
            <table slot="body" class="cmd-table envs">
              <tr style="font-size: 22px;">
                <th style="color: rgb(21, 136, 198)">CMD</th>
                <th style="color: rgb(21, 136, 198)">Directory</th>
              </tr>
              <tr>
                <td><input class="cmd-table-new-input" type="text" @change="changeCmd" :value="cmd.split(' -/- ')[1]"/></td>
                <td><input class="cmd-table-new-input" type="text" @change="changeDir" :value="cmd.split(' -/- ')[0]"/></td>
              </tr>
            </table>

            <div class="center">
                <button
                  :class="'modal-default-button'"
                  @click="updateApp()">
                  {{'Save'}}
                </button>
              </div>

          </div>

          <!-- <div class="modal-footer">
            <slot name="footer">
              <div class="center">
                <button
                  class="modal-default-button"
                  @click="$emit('confirm')">
                  Confirm
                </button>
              </div>
              <div v-if="error" class="center">
                <p class="error">{{error}}</p>
              </div>
            </slot>
          </div> -->

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import Loading from "@/components/Loading/Loading";
  import ButtonIcon from "@/components/ButtonIcon";

  import api from "@/services/api";

  export default {
    props: {
      error: String,
      app: Object,
      save: Function
    },

    data() {
      return {
        cmd: ''
      }
    },

    methods: {
      updateApp() {
        this.save({cmd: this.cmd})
      },
      changeCmd(e) {
        this.cmd ? this.cmd = this.cmd.split(' -/- ')[0] + ' -/- ' + e.target.value : this.cmd = ' -/- ' + e.target.value
      },
      changeDir(e) {
        this.cmd ? this.cmd = e.target.value + ' -/- ' + this.cmd.split(' -/- ')[1] : this.cmd = e.target.value + ' -/- '
      }
    },

    mounted() {
      // this.cmd = this.app.cmd
    },

    beforeMount() {
      if (this.app.cmd)
        this.cmd = this.app.cmd
    },

    components: {
      ButtonIcon,
      Loading
    }
  };

</script>

<style scoped>
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .error {
    margin-top: 15px;
    color: red;
    font-size: 0.75em;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: fit-content;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(48, 62, 75); */
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    background-color: rgb(21, 136, 198);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .disabled-button {
    background-color: rgb(79, 96, 105);
  }

  /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }



  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .cmd-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .cmd-table td,
  .cmd-table th {
    padding: 8px;
    max-width: 21vw;
    overflow: auto;

  }

  .cmd-table tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(46, 65, 83); */
  }

  .cmd-table tr:hover {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(48, 62, 75); */
  }

  .cmd-table th {
    width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    /* color: white; */
  }

  .cmd-table-new-input {
    width: 100%;
    border: none;
    height: 20px;
    font-size: 16px;

    height: 27px;
    border: solid 2px;
    font-size: 16px;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-default-button {
    margin-top: 15px;
    background-color: rgb(21, 136, 198);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
