<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click="(e) => e.stopPropagation()">

          <div class="center">
            <!-- <img width="50%" :src="'/static/img/dockerhub.png'" /> -->

                <button :disabled="deletingApp"
                  :class="(deletingApp) ? 'modal-default-button disabled-button' : 'modal-default-button'"
                  @click="deleteApp">
                  {{deletingApp ? loadingText : 'Delete ' + app.name}}
                </button>

                <span style="margin-top: 15px">
                  more options under development...
                </span>

          </div>

          <!-- <div class="modal-footer">
            <slot name="footer">
              <div class="center">
                <button
                  class="modal-default-button"
                  @click="$emit('confirm')">
                  Confirm
                </button>
              </div>
              <div v-if="error" class="center">
                <p class="error">{{error}}</p>
              </div>
            </slot>
          </div> -->

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import Loading from "@/components/Loading/Loading";
  import ButtonIcon from "@/components/ButtonIcon";

  import api from "@/services/api";

  export default {
    props: {
      error: String,
      app: Object
    },

    data() {
      return {
        loadingText: 'Shutting down all containers and removing',
        deletingApp: false
      };
    },

    methods: {
      deleteApp() {
        const confirmed = confirm('This will remove all containers, images and volumes related.\nContinue?')
        if (confirmed) {
          this.deletingApp = true
          api.deleteApp(this.app)
            .then(done => {
              console.log('app deleted', done)
              this.deletingApp = false
              this.$router.push('/')
            })
            .catch(err => {
              console.log('delete app error', err)
              this.deletingApp = false
            })
        }
      },
    },

    mounted() {
      setInterval(() => {
        if (this.deletingApp) {
          if (this.loadingText.endsWith('...')) {
            this.loadingText = 'Shutting down all containers and removing'
          } else {
            this.loadingText += '.'
          }
        }
      }, 500);
    },

    beforeMount() {},

    components: {
      ButtonIcon,
      Loading
    }
  };

</script>

<style scoped>
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .error {
    margin-top: 15px;
    color: red;
    font-size: 0.75em;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: fit-content;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(48, 62, 75); */
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    background-color: rgb(198, 27, 21);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .disabled-button {
    background-color: rgb(79, 96, 105);
  }

  /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }



  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .port-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .port-table td,
  .port-table th {
    padding: 8px;
    max-width: 21vw;
    overflow: auto;

  }

  .port-table tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(46, 65, 83); */
  }

  .port-table tr:hover {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(48, 62, 75); */
  }

  .port-table th {
    width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    /* color: white; */
  }

  .port-table-new-input {
    width: 100%;
    border: none;
    height: 20px;
    font-size: 16px;

    height: 27px;
    border: solid 2px;
    font-size: 16px;
  }

</style>
