<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click="(e) => e.stopPropagation()">

          <div class="modal-header">
          </div>
          <div class="modal-body">
            <Card :base-image="image.logoUrl" />
            <div class="center">
              <input :disabled="creatingApp" v-model="newImage.appName" placeholder="application-name"
                style="text-align: center;">
            </div>
          </div>
          <div class="vselect-container">
            <Loading v-show="tagsFirstLoading" width="70px" height="45px" />
            <v-select v-show="!tagsFirstLoading" label="name" style="width: 100%" :value="newImage.tag"
              @input="(value) => newImage.tag = value" :filterable="false" :options="tags" @search="onSearch">
              <!-- <template slot="no-options">
                search tag from Dockerhub.com...
              </template> -->
              <template slot="option" slot-scope="option">
                <div class="d-center">
                  {{ option.name + ' ' + (option.size / 1.049e+6).toFixed(2) + 'MB' }}
                </div>
              </template>
              <template slot="selected-option" slot-scope="option">
                <div class="selected d-center limited-text">
                  {{ option.name }}
                </div>
              </template>
            </v-select>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <div class="center">
                <button :disabled="creatingApp || !newImage.tag || !newImage.appName"
                  :class="(creatingApp || !newImage.tag || !newImage.appName) ? 'modal-default-button disabled-button' : 'modal-default-button'"
                  @click="$emit('confirm', newImage)">
                  {{creatingApp ? loadingText : 'Confirm'}}
                </button>
              </div>
              <div v-if="error" class="center">
                <p class="error">{{error}}</p>
              </div>
            </slot>
          </div>

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import Card from "@/components/AppGallery/Card";
  import vSelect from 'vue-select'
  import 'vue-select/dist/vue-select.css';
  import Loading from "@/components/Loading/Loading";

  import api from "@/services/api";

  let searchTimeout;

  export default {
    props: {
      image: Object,
      creatingApp: Boolean,
      error: String
    },

    data() {
      return {
        newImage: {
          ...this.image,
          appName: this.image.name
        },
        tags: [],
        loadingText: 'Loading',
        tagsFirstLoading: true
      };
    },

    mounted() {
      setInterval(() => {
        if (this.creatingApp) {
          if (this.loadingText.endsWith('...')) {
            this.loadingText = 'Loading'
          } else {
            this.loadingText += '.'
          }
        }
      }, 500);
    },

    async beforeMount() {
      // populate tags options with most popular
      this.tagsFirstLoading = true;
      api.searchTags(this.image, '')
        .then(res => {
          this.tags = res;
          this.newImage.tag = res[0]
          this.tagsFirstLoading = false;
        })
    },

    methods: {
      onSearch(search, loading) {
        loading(true);
        clearTimeout(searchTimeout);
        searchTimeout = setTimeout(() => {
          this.search(loading, search, this);
        }, 1000);
      },

      search: (loading, search, vm) => {
        api.searchTags(vm.image, search)
          .then(res => {
            console.log(res)
            vm.tags = res;
            loading(false);
          })
      },
    },

    components: {
      Card,
      vSelect,
      Loading
    }
  };

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error {
    margin-top: 15px;
    color: red;
    font-size: 0.75em;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    background-color: rgb(21, 136, 198);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .disabled-button {
    background-color: rgb(79, 96, 105);
  }

  /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* vselect */

  .vselect-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0 25px 0;
  }

  .vselect-img {
    height: auto;
    max-width: 2.5rem;
    margin-right: 1rem;
  }

  .d-center {
    display: flex;
    align-items: center;
    margin-left: -10px;
    height: 25px;
  }

  .limited-text {
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    margin-left: 0px;
  }

  .selected img {
    width: auto;
    max-height: 23px;
    margin-right: 0.5rem;
  }

  .v-select .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1);
  }

  .v-select .dropdown li:last-child {
    border-bottom: none;
  }

  .v-select .dropdown li a {
    /* padding: 2px 2px; */
    width: 100%;
    font-size: 1.25em;
    color: #3c3c3c;
  }

  .v-select .dropdown-menu .active>a {
    color: #fff;
  }

</style>

<style>
  .vs__dropdown-menu {
    max-height: 17vh;
  }

</style>
