<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click="(e) => e.stopPropagation()">

          <div class="center">
            <img width="50%" :src="'/static/img/dockerhub.png'" />
            <div class="vselect-container">
              <Loading v-show="imagesFirstLoading" width="70px" height="45px" />
              <v-select placeholder="Search on Dockerhub" v-show="!imagesFirstLoading" label="name" @input="(value) => newImage = value" :filterable="false" :options="options"
                @search="onSearch">
                <!-- <template slot="no-options">
                  type to search Dockerhub images..
                </template> -->
                <template slot="option" slot-scope="option">
                  <div class="d-center">
                    <img class="vselect-img" :src='option.logoUrl' />
                    {{ option.name }}
                  </div>
                </template>
                <template slot="selected-option" slot-scope="option">
                  <div class="selected d-center">
                    <img :src='option.logoUrl' />
                    {{ option.name }}
                  </div>
                </template>
              </v-select>
            </div>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <div class="center">
                <button :disabled="confirmLoading || !newImage.name"
                :class="(confirmLoading || !newImage.name) ? 'modal-default-button disabled-button' : 'modal-default-button'"
                @click="$emit('confirm', newImage)">
                  {{confirmLoading ? confirmLoadingText : 'Confirm'}}
                </button>
              </div>
              <div v-if="error" class="center">
                <p class="error">{{error}}</p>
              </div>
            </slot>
          </div>

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import vSelect from 'vue-select'
  import 'vue-select/dist/vue-select.css';
  import Loading from "@/components/Loading/Loading";

  import Card from "@/components/AppGallery/Card";

  import api from "@/services/api";

  let searchTimeout;

  export default {
    props: {
      error: String,
      confirmLoading: Boolean
    },

    data() {
      return {
        newImage: {},
        confirmLoadingText: 'Loading',
        options: [],
        imagesFirstLoading: true
      };
    },

    methods: {

      onSearch(search, loading) {
        loading(true);
        clearTimeout(searchTimeout);
        searchTimeout = setTimeout(() => {
          this.search(loading, search, this);
        }, 1000);
      },

      search: (loading, search, vm) => {
        console.log(search)
        api.searchImages(search)
          .then(res => {
            vm.options = res;
            loading(false);
          })
      },
    },

    mounted() {
      setInterval(() => {
        if (this.confirmLoading) {
          if (this.confirmLoadingText.endsWith('...')) {
            this.confirmLoadingText = 'Loading'
          } else {
            this.confirmLoadingText += '.'
          }
        }
      }, 500);
    },

    beforeMount() {
      this.error = null
      this.imagesFirstLoading = true;
      api.searchImages("")
        .then(res => {
          this.options = res;
          this.imagesFirstLoading = false;
        })
    },

    components: {
      Card,
      vSelect,
      Loading
    }
  };

</script>

<style >
  .vs__dropdown-menu {
    max-height: 30vh;
  }
</style>

<style scoped>

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .error {
    margin-top: 15px;
    color: red;
    font-size: 0.75em;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    min-width: 300px;
    width: fit-content;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    background-color: rgb(21, 136, 198);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .disabled-button {
    background-color: rgb(79, 96, 105);
  }

  /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  /* vselect */

  .vselect-container {
    width: 100%;
    margin: 10px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vselect-img {
    height: auto;
    max-width: 2.5rem;
    margin-right: 1rem;
  }

  .d-center {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .selected img {
    width: auto;
    max-height: 23px;
    margin-right: 0.5rem;
  }

  .v-select .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1);
  }

  .v-select .dropdown li:last-child {
    border-bottom: none;
  }

  .v-select {
    width: 100%;
  }

  .v-select .dropdown li a {
    /* padding: 2px 2px; */
    width: 100%;
    font-size: 1.25em;
    color: #3c3c3c;
  }

  .v-select .dropdown-menu .active>a {
    color: #fff;
  }

</style>
