<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click="(e) => e.stopPropagation()">

          <div class="center">
            <!-- <img width="50%" :src="'/static/img/dockerhub.png'" /> -->

            <table slot="body" class="repo-table envs">
              <tr style="font-size: 22px;">
                <th style="color: rgb(21, 136, 198)">Name</th>
                <th style="color: rgb(21, 136, 198)">GIT Repository</th>
                <th style="color: rgb(21, 136, 198)">Branch</th>
                <th style="color: rgb(21, 136, 198)">User</th>
                <th style="color: rgb(21, 136, 198)">Password</th>
                <th style="color: rgb(21, 136, 198)">Target Folder</th>
                <th style="color: rgb(21, 136, 198)"></th>
              </tr>
              <tr v-for="(repo, i) in repositories" :key="i">
                <td>{{repo.name}}</td>
                <td>{{repo.url}}</td>
                <td>{{repo.branch}}</td>
                <td>{{repo.user}}</td>
                <td>-</td>
                <td>{{repo.target}}</td>
                <td>
                  <div style="display: flex; align-items: center;">
                    <div @click="removeRepo(repo.id)">
                      <ButtonIcon width="25px" height="25px" :imageUrl="'static/img/error.png'" />
                    </div>
                    <a v-tooltip="'Password: '+repo.name + '<p>Try again after some seconds if not work at first time. Container maybe not ready...</p>'" :href="getCodeRepoUrl(repo)" target="_blank">
                      <ButtonIcon width="50px" height="50px" :imageUrl="'static/img/vscode.svg'" />
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td><input class="repo-table-new-input" type="text" v-model="tempRepo.name" /></td>
                <td><input class="repo-table-new-input" type="text" v-model="tempRepo.url" /></td>
                <td><input class="repo-table-new-input" type="text" v-model="tempRepo.branch" /></td>
                <td><input class="repo-table-new-input" type="text" v-model="tempRepo.user" /></td>
                <td><input class="repo-table-new-input" type="password" v-model="tempRepo.password" /></td>
                <td><input class="repo-table-new-input" type="text" v-model="tempRepo.target" /></td>
                <td>
                  <div @click="addRepo">
                    <ButtonIcon width="25px" height="25px" :imageUrl="'static/img/plus.png'" />
                  </div>
                </td>
              </tr>
            </table>

          </div>

          <!-- <div class="modal-footer">
            <slot name="footer">
              <div class="center">
                <button
                  class="modal-default-button"
                  @click="$emit('confirm')">
                  Confirm
                </button>
              </div>
              <div v-if="error" class="center">
                <p class="error">{{error}}</p>
              </div>
            </slot>
          </div> -->

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import Loading from "@/components/Loading/Loading";
  import ButtonIcon from "@/components/ButtonIcon";

  import api from "@/services/api";

  export default {
    props: {
      error: String,
      repositories: Array,
      updateRepositories: Function,
      appId: Number,
      appName: String
    },

    data() {
      return {
        tempRepo: {
          AppId: this.appId,
          name: '',
          url: '',
          branch: '',
          user: '',
          password: '',
          target: '',
        }
      };
    },

    methods: {
      addRepo() {
        console.log({...this.tempRepo})
        api.addRepository({...this.tempRepo})
          .then(done => {
            console.log('repository saved.', done)
            this.updateRepositories()
          })
          .catch(err => {
            console.log('save repository error', err)
          })
        this.tempRepo.name = ''
        this.tempRepo.url = ''
        this.tempRepo.branch = ''
        this.tempRepo.user = ''
        this.tempRepo.password = ''
        this.tempRepo.target = ''
      },

      removeRepo(id) {
        api.removeRepository(id)
          .then(done => {
            console.log('repository saved.', done)
            this.updateRepositories()
          })
          .catch(err => {
            console.log('save repository error', err)
          })
      },

      getCodeRepoUrl(repo) {
        const http = api.getApiUrl.split('://')[0] + '://'
        const apiHost = api.getApiUrl.replace(http, '').replace('/api', '')
        return http + this.appName + '.' + repo.name + '.code.' + apiHost
      }
    },

    mounted() {},

    beforeMount() {},

    components: {
      ButtonIcon,
      Loading
    }
  };

</script>

<style scoped>
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .error {
    margin-top: 15px;
    color: red;
    font-size: 0.75em;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: fit-content;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(48, 62, 75); */
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    background-color: rgb(21, 136, 198);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .disabled-button {
    background-color: rgb(79, 96, 105);
  }

  /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }



  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .repo-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .repo-table td,
  .repo-table th {
    padding: 8px;
    max-width: 21vw;
    overflow: auto;

  }

  .repo-table tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(46, 65, 83); */
  }

  .repo-table tr:hover {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(48, 62, 75); */
  }

  .repo-table th {
    width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    /* color: white; */
  }

  .repo-table-new-input {
    width: 100%;
    border: none;
    height: 20px;
    font-size: 16px;

    height: 27px;
    border: solid 2px;
    font-size: 16px;
  }

</style>
