
<template>
  <div @click="onSelect ? onSelect() : null">
    <div class="card-app">
      <span v-if="cpu" class="card-app-resources">CPU:{{cpu}}%</span>
      <span v-if="memory && disk" class="card-app-resources">MEM: {{memory}}MB DISK: {{disk}}G</span>
      <div :class="{'card-thumb':true, 'card-thumb-no-resource': !cpu && !memory && !disk}" :style="{backgroundColor: backgroundColor}">
        <img :src="baseImage || 'static/img/docker.svg'" 
            @error="baseImage = 'static/img/docker.svg'" class="card-logo" alt>
      </div>
      <span v-if="name" class="card-app-resources card-app-name">{{name}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
      name: String,
      cpu: Number,
      memory: Number,
      disk: Number,
      baseImage: String, 
      backgroundColor: String,
      onSelect: Function
  },
};
</script>

<style scoped>
.card-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  margin-top: 50px;
  position: relative;
  margin: 25px;
}

.card-app-resources {
  font-size: 0.9em;
  font-weight: bold;
}

.card-app-name {
  text-align: center;
}

.card-thumb {
  width: 190px;
  height: 150px;
  border: 1px solid rgb(21, 136, 198);
  margin: 5px;
  box-shadow: 3px 2px 10px #cdcdcd;
  padding: 10% 10%;
  border-radius: 5px;
}

.card-thumb-no-resource {
  margin-top: -19px;
}

.card-thumb:hover {
  transform: scale(1.03);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.card-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
