<template>
  <div class="container">
        <div :class="{'subcontainer': true, 'nowrap':nowrap, 'overflow':nowrap}">
          <Card
            v-for="(item, i) in apps"
            :key="i"
            :v-if="apps"
            :name="item.name"
            :cpu="item.cpu"
            :memory="item.memory"
            :disk="item.disk"
            :base-image="item.img"
            :background-color="item.bgColor"
            :onSelect="item.onSelect"
          ></Card>
          <router-link v-if="newAppComp" :to="{name: newAppComp}">
            <Card name="New App" base-image="static/img/add-button.svg"></Card>
          </router-link>
          <div v-if="newItem" @click="newItem">
            <Card name="" base-image="static/img/add-button.svg"></Card>
          </div>
        </div>
  </div>
</template>

<script>
import Card from "@/components/AppGallery/Card";

export default {
  props: {
    apps: Array,
    newAppComp: String,
    newItem: Function,
    nowrap: Boolean
  },

  components: {
    Card,
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  width: 90%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.overflow {
  overflow-x: scroll;
}

.nowrap {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
</style>
