<template>
  <div>
    <AppHeader></AppHeader>
    <LoadingScreen v-if="loading" />
    <div class="content">
    <p class="page-title">
      Apps
    </p>
    <AppGallery class="gallery" new-app-comp="NewApp" :apps="apps"></AppGallery>
    </div>
  </div>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import LoadingScreen from "@/components/Loading/LoadingScreen";
import AppGallery from "@/components/AppGallery/Gallery";

import api from "@/services/api";

export default {
  data() {
    return {
      apps: [],
      loading: false
    };
  },
  components: {
    AppHeader,
    AppGallery,
    LoadingScreen
  },
  methods: {},

  async beforeMount() {
    this.loading = true
    const data = await api.getApps()
    this.apps = data.map(el => ({
      ...el,
      onSelect: () => {
        this.$router.push({ name: 'Dashboard', params: { appname: el.name } })
      }
    }));
    this.loading = false
  }
};
</script>

<style scoped>
.page-title {
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 25px;
}

.content {
  margin-top: 100px;
}

.gallery {
  margin-top: 20px;
}
</style>
