<template>
  <div>
    <AppHeader></AppHeader>
    <LoadingScreen v-if="loading" />
    <div v-if="!loading" class="dashboard-content">
      <div>
        <!-- TITLE -->
        <p class="dashboard-page-title">
          App
          <span>></span>
          <span>{{app.name}}</span>
        </p>

        <div class="dashboard-container">

          <!-- CARD INFO -->
          <div class="dashboard-card-info-container">
            <div class="dashboard-card-info-item">

              <div class="dashborad-card-container">
                <!-- ACTION BUTTONS -->
                <div class="status-buttons-container">
                  <!-- TURN ON APP -->
                  <div v-tooltip="'Start'" @click="initApp"
                    v-show="!app.status.container.includes('Up') && !app.status.processing">
                    <ButtonIcon width="70px" height="45px" :imageUrl="'static/img/switch-off.png'" />
                  </div>
                  <!-- L O A D I N G . . . -->
                  <div v-tooltip="app.status.state" v-if="app.status.processing">
                    <Loading width="70px" height="45px" />
                  </div>
                  <!-- TURN OFF APP -->
                  <div v-tooltip="'Stop'" @click="stopApp"
                    v-show="app.status.container.includes('Up') && !app.status.processing">
                    <ButtonIcon width="70px" height="45px" :imageUrl="'static/img/switch-on.png'" />
                  </div>
                  <!-- REFRESH APP -->
                  <div v-tooltip="'Re-Build and run new container'" @click="refreshApp" v-show="!app.status.processing">
                    <ButtonIcon width="45px" height="45px" :imageUrl="'static/img/sync.png'" />
                  </div>
                  <!-- CLEAR APP -->
                  <div v-tooltip="'Remove container and data volumes'" @click="clearApp" v-show="!app.status.processing"
                    style="margin-left: -10px;">
                    <ButtonIcon width="45px" height="45px" :imageUrl="'static/img/recycle-red.png'" />
                  </div>
                </div>
                <Card :base-image="app.logoUrl" />
                <div class="dashboard-card-info-text-container" style="margin-top: -15px;">
                  <p class="dashboard-card-info-title">Image:</p>&nbsp;<p class="dashboard-card-info-text">
                    {{app.image}}</p>
                </div>
                <div class="vselect-container">
                  <div style="width: 100%">
                    <v-select :clearable="false" label="name" :value="tag" :filterable="false" :options="tags"
                      @input="(value) => updateTag(value)"
                      :disabled="false && app.status.container.includes('Up') || app.status.processing"
                      @search="onSearchTag" maxHeight="40px">
                      <template slot="no-options">
                        type to search..
                      </template>
                      <template slot="option" slot-scope="option">
                        <div class="d-center">
                          {{ option.name + ' ' + (option.size / 1.049e+6).toFixed(2) + 'MB'}}
                        </div>
                      </template>
                      <template slot="selected-option" slot-scope="option">
                        <div class="selected d-center limited-text">
                          {{ option.name }}
                        </div>
                      </template>
                    </v-select>
                  </div>
                </div>
              </div>

              <!-- APP DETAILS -->

              <div class="dashboard-card-info-status-container">

                <div class="dashboard-card-info-text-container" style="margin-top: 15px;">
                  <p class="dashboard-card-info-title">Status:</p>&nbsp;<p class="dashboard-card-info-text"
                    :style="{ 'color': app.status.container.includes('Up') ? 'rgb(21, 136, 198)' : 'rgb(200, 30, 30)'}">
                    {{app.status.container}}</p>
                </div>

                <div class="dashboard-card-info-text-container" style="margin-top: 15px;">
                  <p class="dashboard-card-info-title">Up Cmd:</p>&nbsp;
                  <div @click="showCmdModal = true">
                    <ButtonIcon width="30px" height="30px" :imageUrl="'static/img/more.png'" />
                  </div>
                  <p class="dashboard-card-info-text">
                    {{cmd}}</p>
                </div>

                <div class="dashboard-card-info-text-container" style="margin-top: 15px;">
                  <p class="dashboard-card-info-title">Exposed Ports:</p>&nbsp;
                  <div @click="showPortsModal = true">
                    <ButtonIcon width="30px" height="30px" :imageUrl="'static/img/more.png'" />
                  </div>
                  <p class="dashboard-card-info-text"></p>
                </div>

                <div v-for="(port, i) in app.exposedPorts" :key="i"
                  class="dashboard-card-info-text-container dashboard-card-info-text-container-ports"
                  style="margin-top: 15px;">
                  <p class="dashboard-card-info-title-ports">Container:
                    <span v-tooltip="`Accessible by others containers with internal dns name: ${app.name}:${port.container}`" class="dashboard-card-info-text">{{port.container}}</span>
                  </p>
                  <div>
                    <p class="dashboard-card-info-title-ports">Host:
                      <a v-tooltip="'localhost:' + port.host" target="_blank" :href="'http://localhost:'+port.host"
                        class="dashboard-card-info-text">{{port.host}}</a>
                    </p>
                    <p v-if="port.host != 'not-binded'" class="dashboard-card-info-title-ports elastic">
                      <a v-if="getContainerPortName(port.container)" v-tooltip="'http://' + app.name + '.' + getContainerPortName(port.container) + '.docker.izy'" target="_blank"
                        :href="'http://' + app.name + '.' + getContainerPortName(port.container) + '.docker.izy'"
                        class="dashboard-card-info-text">{{app.name + '.' + getContainerPortName(port.container) + '.docker.izy'}}</a>
                    </p>
                  </div>
                </div>

                <!-- <div class="dashboard-card-info-text-container">
                  <p class="dashboard-card-info-title">Disk:</p>&nbsp;<p class="dashboard-card-info-text">{{'??.??'}}MB
                  </p>
                </div> -->
              </div>

            </div>
          </div>

          <!-- ACTIONS BUTTONS -->
          <div class="dashboard-menu-items-container">
            <div @click="showRepositoriesModal = true">
              <MenuIcon style="grid-area: menu-item-1" name="Repositories" :imageUrl="'static/img/cloud.png'" />
            </div>
            <div @click="showEnvModal = true">
              <MenuIcon style="grid-area: menu-item-2" name="Environments" :imageUrl="'static/img/layers.svg'" />
            </div>
            <div @click="showRunModal = true">
              <MenuIcon style="grid-area: menu-item-3" name="Build" :imageUrl="'static/img/cmd.png'" />
            </div>
            <MenuIcon v-tooltip="'under development...'" style="grid-area: menu-item-4" name="Services"
              :imageUrl="'static/img/services.png'" />
            <div @click="showLogs">
              <MenuIcon style="grid-area: menu-item-5" name="Logs" :imageUrl="'static/img/logs.svg'" />
            </div>
            <div @click="showConfigModal = true">
              <MenuIcon style="grid-area: menu-item-6" name="Settings" :imageUrl="'static/img/config.png'" />
            </div>
          </div>

        </div>
      </div>


      <RepositoriesModal v-if="showRepositoriesModal" :repositories="app.Repositories" :updateRepositories="getApp"
        :appId="app.id" :appName="app.name" @close="showRepositoriesModal = false"
        @confirm="showRepositoriesModal = false" />

      <CmdModal v-if="showCmdModal" :app="getStaticApp()" :save="updateApp" @close="showCmdModal = false"
        @confirm="showCmdModal = false" />

      <PortsModal v-if="showPortsModal" :ports="app.Ports" :appId="app.id" @close="showPortsModal = false"
        @confirm="showPortsModal = false" />

      <ConfigModal v-if="showConfigModal" :app="app" @close="showConfigModal = false"
        @confirm="showConfigModal = false" />


      <EnvModal v-if="showEnvModal" @close="showEnvModal = false; envTempInput = { key: '', value: '' }">
        <table slot="body" class="logs envs">
          <tr style="font-size: 22px">
            <th style="color: rgb(21, 136, 198)">Key</th>
            <th style="color: rgb(21, 136, 198)">Value</th>
            <th></th>
          </tr>
          <tr v-for="(env, i) in app.Envs" :key="env.key + i">
            <td>{{env.key}}</td>
            <td>{{env.value}}</td>
            <td>
              <div @click="removeEnv(env.id)">
                <ButtonIcon width="25px" height="25px" :imageUrl="'static/img/error.png'" />
              </div>
            </td>
          </tr>
          <tr>
            <td><input class="modal-input" type="text" v-model="envTempInput.key" /></td>
            <td><input class="modal-input" type="text" v-model="envTempInput.value" /></td>
            <td>
              <div @click="addEnv">
                <ButtonIcon width="25px" height="25px" :imageUrl="'static/img/plus.png'" />
              </div>
            </td>
          </tr>
        </table>
      </EnvModal>

      <RunModal v-if="showRunModal" @close="showRunModal = false; runTempInput = { run: '', dir: '', order: 0 }">
        <table slot="body" class="logs envs">
          <tr style="font-size: 22px">
            <th style="color: rgb(21, 136, 198)">RUN</th>
            <th style="color: rgb(21, 136, 198)">Directory</th>
            <th></th>
          </tr>
          <tr v-for="(run, i) in app.Runs" :key="run.order + i">
            <td>{{run.run}}</td>
            <td>{{run.dir}}</td>
            <td>
              <div @click="removeRun(run.id)">
                <ButtonIcon width="25px" height="25px" :imageUrl="'static/img/error.png'" />
              </div>
            </td>
          </tr>
          <tr>
            <td><input class="modal-input" type="text" v-model="runTempInput.run" /></td>
            <td><input class="modal-input" type="text" v-model="runTempInput.dir" /></td>
            <td>
              <div @click="addRun">
                <ButtonIcon width="25px" height="25px" :imageUrl="'static/img/plus.png'" />
              </div>
            </td>
          </tr>
        </table>
      </RunModal>

      <LogsModal v-if="showLogsModal" @close="showLogsModal = false">
        <table slot="body" class="logs">
          <button @click="selectedLogs = 'container'"
            :class="selectedLogs == 'container' ? 'logs-nav-btn logs-nav-btn-selected' : 'logs-nav-btn'">Container</button>
          <button @click="selectedLogs = 'build'"
            :class="selectedLogs == 'build' ? 'logs-nav-btn logs-nav-btn-selected' : 'logs-nav-btn'">Build</button>
          <template v-if="selectedLogs == 'container'" style="width: 100%">
            <!-- <tr>
              <th style="width: 150px;">Instant</th>
              <th>Log</th>
            </tr>
            <tr v-for="(log, i) in logs" :key="log[0] + i">
              <td>{{log[0]}}</td>
              <td>{{log[1]}}</td>
            </tr>
            <tr v-if="!logs || logs.length == 0">
              <td>-</td>
              <td>No logs</td>
            </tr> -->
            <LogViewer :log="logs || ''" :loading="app.status.processing || loadingLogs" />
          </template>
          <!-- <template v-if="selectedLogs == 'container' && loadingLogs">
            <div>
              <Loading width="70px" height="45px" />
            </div>
          </template> -->
          <template v-if="selectedLogs == 'build'" style="width: 100%">
            <!-- <tr>
              <th>Logs</th>
            </tr>
            <tr v-for="(log, i) in buildLogs" :key="log[0] + i">
              <td>{{log}}</td>
            </tr>
            <tr v-if="!buildLogs || buildLogs.length == 0">
              <td>-</td>
              <td>No logs</td>
            </tr> -->
            <LogViewer :log="buildLogs || ''" :loading="app.status.processing" />
          </template>
        </table>
      </LogsModal>
    </div>
  </div>
</template>

<script>
  import AppHeader from "@/components/AppHeader";
  import LoadingScreen from "@/components/Loading/LoadingScreen";
  import Loading from "@/components/Loading/Loading";
  import Card from "@/components/AppGallery/Card";
  import MenuIcon from "@/components/MenuIcon";
  import ButtonIcon from "@/components/ButtonIcon";
  import RepositoriesModal from "@/components/Modals/RepositoriesModal";
  import CmdModal from "@/components/Modals/CmdModal";
  import PortsModal from "@/components/Modals/PortsModal";
  import ConfigModal from "@/components/Modals/ConfigModal";
  import LogsModal from "@/components/Modals/LogsModal";
  import EnvModal from "@/components/Modals/EnvModal";
  import RunModal from "@/components/Modals/RunModal";
  import vSelect from 'vue-select'
  import 'vue-select/dist/vue-select.css';
  import LogViewer from '@femessage/log-viewer';


  import api from "@/services/api";

  let searchTagTimeout;

  export default {
    data() {
      return {
        app: {},
        cmd: 'loading...',
        selectedLogs: 'container',
        buildLogs: [],
        tag: {},
        tags: [],
        loading: true,
        loadingLogs: false,
        updateAppIntervalID: null,
        showRepositoriesModal: false,
        showCmdModal: false,
        showPortsModal: false,
        showConfigModal: false,
        showLogsModal: false,
        showEnvModal: false,
        showRunModal: false,
        envTempInput: {
          key: '',
          value: ''
        },
        runTempInput: {
          run: '',
          dir: '',
          order: 0,
        },
        logs: null,
        getAppError: null
      };
    },

    components: {
      AppHeader,
      Card,
      LoadingScreen,
      Loading,
      MenuIcon,
      ButtonIcon,
      LogsModal,
      ConfigModal,
      EnvModal,
      RunModal,
      RepositoriesModal,
      PortsModal,
      CmdModal,
      vSelect,
      LogViewer
    },

    methods: {

      async initApp() {
        try {
          const response = await api.initApp(this.app.id);
        } catch (error) {
          if (error.response.status != 304) console.log(error.response)
        }
      },

      async stopApp() {
        try {
          const response = await api.stopApp(this.app.id);
        } catch (error) {
          if (error.response.status != 304) console.log(error.response)
        }
      },

      async refreshApp() {
        try {
          const response = await api.refreshApp(this.app.id);
          this.selectedLogs = 'build'
          this.showLogs()
        } catch (error) {
          if (error.response.status != 304) console.log(error.response)
        }
      },

      async clearApp() {
        try {
          const response = await api.clearApp(this.app.id);
        } catch (error) {
          if (error.response.status != 304) console.log(error.response)
        }
      },

      async showLogs() {
        try {
          this.showLogsModal = true
          this.loadingLogs = true
          const parseAndSetLogs = (logs) => {
            let arrayOfLines = response.match(/[^\r\n]+/g);
            arrayOfLines = arrayOfLines.slice(1)
            this.logs = arrayOfLines && arrayOfLines.map(line => {
              const text = line.split('|[')[1]
              if (text)
                console.log(text)
              return [
                text.substring(text.indexOf('Z') - 29, text.indexOf('Z')).split('T')[0] + ' ' + text
                .substring(
                  text.indexOf('Z') - 29, text.indexOf('Z')).split('T')[1].substring(0, 8).trim(),
                text.substring(text.indexOf('Z') + 1).trim()
              ]
            })
          }
          const response = await api.appLogs(this.app.id);
          // parseAndSetLogs(response)
          this.logs = response
          const interval = setInterval(async () => {
            if (this.showLogsModal) {
              try {
                const response2 = await api.appLogs(this.app.id);
                // parseAndSetLogs(response2)
                this.logs = response2
              } catch (error) {
                console.log('showLogs ERROR', error)
              }
            } else {
              clearInterval(interval)
            }
          }, 1000)
        } catch (error) {
          console.log('showLogs ERROR', error)
        }
        this.loadingLogs = false
      },

      async getBuildLogs() {
        try {
          const response = await api.appBuildLog(this.app.id)
          this.buildLogs = response
          // let arrayOfLines = response.match(/[^\r\n]+/g);
          // this.buildLogs = arrayOfLines
          // arrayOfLines = arrayOfLines.slice(1)
          // this.buildLogs = arrayOfLines && arrayOfLines.map(line => {
          //   const text = line.split('|[')[1]
          //   if (text)
          //   console.log(text)
          //   return [
          //     text.substring(text.indexOf('Z') - 29, text.indexOf('Z')).split('T')[0] + ' ' + text.substring(text.indexOf('Z') - 29, text.indexOf('Z')).split('T')[1].substring(0, 8).trim(),
          //     text.substring(text.indexOf('Z') + 1).trim()]
          // })
        } catch (error) {
          console.log('buildLogs ERROR', error)
        }
      },

      getStaticApp() {
        console.log('get static app')
        return {
          ...this.app
        }
      },

      async updateApp(app) {
        try {
          const response = await api.updateApp({
            ...app,
            id: this.app.id
          });
          console.log(response)
          this.showCmdModal = false
        } catch (error) {
          console.log('updateApp ERRROR', error)
        }
      },

      async addEnv() {
        try {
          const response = await api.addEnv({
            ...this.envTempInput,
            AppId: this.app.id
          });
          this.envTempInput = {
            key: '',
            value: ''
          }
          console.log(response)
        } catch (error) {
          console.log('saveEnv ERRROR', error)
        }
      },

      async removeEnv(id) {
        try {
          const response = await api.removeEnv(id);
          console.log(response)
        } catch (error) {
          console.log('saveEnv ERRROR', error)
        }
      },

      async addRun() {
        try {
          let higherOrder = 0
          if (this.app.Runs && this.app.Runs.length > 0)
            higherOrder = this.app.Runs.sort((a, b) => {
              if (a.order > b.order) return -1
              if (a.order == b.order) return 0
              if (a.order < b.order) return 1
            })[0].order + 1
          console.log('High order:' + higherOrder, this.app.Runs)
          const response = await api.addRun({
            ...this.runTempInput,
            order: higherOrder,
            AppId: this.app.id
          });
          this.runTempInput = {
            run: '',
            dir: '',
            order: 0
          }
          console.log(response)
        } catch (error) {
          console.log('saveRun ERRROR', error)
        }
      },

      async removeRun(id) {
        try {
          const response = await api.removeRun(id);
          console.log(response)
        } catch (error) {
          console.log('saveRun ERRROR', error)
        }
      },

      async updateTag(tag) {
        try {
          this.tag = tag
          const response = await api.updateApp({
            id: this.app.id,
            tag: tag.name
          });
          console.log(response)
        } catch (error) {
          console.log('updateTag ERRROR', error.response)
        }
      },

      onSearchTag(search, loading) {
        loading(true);
        clearTimeout(searchTagTimeout);
        searchTagTimeout = setTimeout(() => {
          this.searchTag(loading, search, this);
        }, 1000);
      },

      searchTag: (loading, search, vm) => {
        api.searchTags(vm.app, search)
          .then(res => {
            vm.tags = res;
            loading(false);
          })
      },

      async getApp() {
        try {
          this.app = await api.getAppByName(this.$route.params.appname);
          this.tag = this.app.tag
        } catch (error) {
          console.log(error)
          this.getAppError = error.response.data.errors[0].message
        }
      },

      getContainerPortName(containerPort) {
        const port = this.app.Ports.find(port => port.port == containerPort)
        if (port)
          return port.name
        else
          return null
      }
    },

    async beforeMount() {
      this.loading = true
      await this.getApp()
      this.loading = false
      this.updateAppIntervalID = setInterval(async () => {
        const oldStatus = this.app.status
        this.app = await api.getAppByName(this.$route.params.appname);
        this.cmd = await api.appCmd(this.app.id)
        this.getBuildLogs()
      }, 1000)

      // populate tags options with most popular
      api.searchTags(this.app, '')
        .then(res => {
          this.tags = res;
        })
    },

    beforeDestroy() {
      clearInterval(this.updateAppIntervalID)
    }
  }

</script>

<style scoped>
  .status-buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
  }

  .dashboard-page-title {
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 25px;
  }

  .dashborad-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-container {
    height: 60vh;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .dashboard-card-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-card-info-status-container {
    min-width: 305px;
  }

  .dashboard-card-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dashboard-card-info-text-container {
    display: flex;
    margin: 5px;
    align-items: center;
  }

  .dashboard-card-info-text-container-ports {
    margin-left: 30px;
  }

  .dashboard-card-info-title {
    color: slategrey;
  }

  .dashboard-card-info-title-ports {
    color: slategrey;
    min-width: 135px;
  }

  .dashboard-card-info-text {
    color: rgb(21, 136, 198);
  }

  .dashboard-content {
    margin-top: 100px;
  }

  .dashboard-menu-items-container {
    width: 70%;
    display: grid;
    grid-template-areas:
      'menu-item-1 menu-item-2 menu-item-3'
      'menu-item-4 menu-item-5 menu-item-6';
    grid-gap: 10px;
    padding: 10px;
    justify-items: center;
    align-items: center;
  }

  .modal-input {
    height: 27px;
    border: solid 2px;
    font-size: 16px;
  }

  .logs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .logs td,
  .logs th {
    padding: 8px;
    max-width: 21vw;
    overflow: auto;
  }

  .logs-nav-btn {
    height: 40px;
    /* background: #263644; */
    background: #2c3135;
    font-size: 22px;
    border: none;
    padding: 0 10px;
    margin-right: 5px;
  }

  .logs-nav-btn-selected {
    height: 50px;
  }

  .logs tr:nth-child(even) {
    background-color: rgb(46, 65, 83);
  }

  .logs tr:hover {
    background-color: rgb(48, 62, 75);
  }

  .envs tr:hover {
    background-color: rgb(255, 255, 255);
  }

  .envs tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
  }

  .logs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    /* color: white; */
  }

  /* vselect */

  .vselect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px;
  }

  .vselect-img {
    height: auto;
    max-width: 2.5rem;
    margin-right: 1rem;
  }

  .d-center {
    display: flex;
    align-items: center;
    margin-left: -10px;
    height: 25px;
  }

  .limited-text {
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    margin-left: 0px;
  }

  .selected img {
    width: auto;
    max-height: 23px;
    margin-right: 0.5rem;
  }

  .v-select .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1);
  }

  .v-select .dropdown li:last-child {
    border-bottom: none;
  }

  .v-select .dropdown li a {
    /* padding: 2px 2px; */
    width: 100%;
    font-size: 1.25em;
    color: #3c3c3c;
  }

  .v-select .dropdown-menu .active>a {
    color: #fff;
  }

  .elastic {
    width: max-content;
  }

</style>

<style>
  /* vselect */
  .vs__dropdown-menu {
    max-height: 17vh;
  }

</style>
