<template>
  <div>
    <AppHeader/>
    <div>
      <div class="imagesList">
        <p class="page-title">
          New App
          <span>></span>
          <span>From image:</span>
        </p>
        <p class="base-title">Favorites:</p>
        <AppGallery class="app-gallery" :apps="images" :nowrap="false" :newItem="() => { showNewFavModal = true }"></AppGallery>
      </div>
    </div>
    <NewAppModal v-if="showModal" @close="closeModal" @confirm="newApp" :image="selectedImage" :creatingApp="creatingApp" :error="newAppError"/>
    <NewFavModal v-if="showNewFavModal" @close="closeModal" @confirm="newFav" :confirmLoading="newFavLoading" :error="newFavError"/>
  </div>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppGallery from "@/components/AppGallery/Gallery";
import NewAppModal from "@/components/Modals/NewAppModal";
import NewFavModal from "@/components/Modals/NewFavModal";

import api from "@/services/api";

export default {

  async beforeMount() {
    await this.getData()
  },
  data() {
    return {
      images: [],
      selectedImage: {},
      showModal: false,
      showNewFavModal: false,
      creatingApp: false,
      newFavLoading: false,
      newAppError: null,
      newFavError: null
    };
  },
  components: {
    AppHeader,
    AppGallery,
    NewAppModal,
    NewFavModal
  },
  methods: {
    async getData() {
      const data = await api.getFavoritesImages()
      this.images = data.map(el => ({
        name: el.name,
        tag: el.tag,
        img: el.logoUrl,
        slug: el.slug,
        onSelect: () => {
          this.selectedImage = {name: el.name, slug: el.slug, logoUrl: el.logoUrl, tag: el.tag};
          this.showModal = true;
        }
      }))
    },

    async newApp(image) {
      this.creatingApp = true
      this.newAppError = null
      try {
        image.appName = image.appName.replace(new RegExp('[^a-zA-Z0-9\\._\\-]', 'g'), '')
        await api.postApp({name: image.appName, image: image.name, tag: image.tag.name, logoUrl: image.logoUrl})
        this.$router.push({ name: 'Dashboard', params: { appname: image.appName } })
        this.creatingApp = false;
        this.closeModal()
      } catch (error) {
        this.newAppError = error.response && error.response.data.errors[0].message
        this.creatingApp = false;
      }
    },

    async newFav(image) {
      this.newFavLoading = true
      this.newFavError = null
      try {
        console.log(image)
        await api.postFavoriteImage(image)
        await this.getData()
      } catch (error) {
        this.newFavError = error.response.data.errors[0].message || error.response
        this.newFavLoading = false;
      }
      this.newFavLoading = false;
      this.closeModal()
    },

    closeModal() {
      this.showModal = false;
      this.showNewFavModal = false
      this.newAppError = null
    }
  }
};
</script>

<style scoped>
.imagesList {
  margin-top: 100px;
}

p,
span {
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -2px;
}

span {
  padding-left: 5px;
  font-size: 20px;
}

.base-title {
  margin-top: 15px;
  padding-left: 50px;
  font-size: 20px;
}

.page-title {
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 25px;
}

.app-gallery {
  padding-top: 15px;
}
</style>


