<template>
  <div id="background">
    <div class="title-container">
      <router-link :to="{name: 'Apps'}">
        <h1>Dockerizy</h1>
      </router-link>
      <p>under development...</p>
    </div>
    <a href="https://gitlab.com/senac-tcc-2019/yurib" target="_blank">
      <ButtonIcon  v-tooltip:left="'Project Repository / Docs / Bugs Report'" style="margin-right: 50px;" width="80px" :imageUrl="'static/img/gitlab2.png'" />
    </a>
  </div>
</template>

<script>
import ButtonIcon from "@/components/ButtonIcon";


export default {
  data() {
    return {};
  },

  components: {
      ButtonIcon
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-weight: bold;
  font-size: 65px;
  color: white;
  letter-spacing: -10px;
  margin-left: 20px;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: rgb(21, 136, 198);
}
p {
  color: white;
  margin-left: 5px;
}
#background {
  background-color: rgb(21, 136, 198);
  z-index: 9999;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
}
.title-container {
  display: flex;
  align-items: flex-end;
}
</style>
