
<template>
    <div class="menu-icon-container">
      <div class="menu-icon-thumb">
        <img :src="imageUrl" class="menu-icon-logo" alt>
      </div>
      <span v-if="name" class="menu-icon-app-resources menu-icon-app-name">{{name}}</span>
    </div>
</template>

<script>
export default {
  props: {
      name: String,
      imageUrl: String,
  },
};
</script>

<style scoped>
.menu-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  margin-top: 75px;
  position: relative;
  margin: 25px;
}
.menu-icon-app-resources {
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

.menu-icon-app-name {
  text-align: center;
  color: slategrey;
}

.menu-icon-thumb {
  width: 75px;
  height: 75px;
  margin: 5px;
  padding: 10% 10%;
}

.menu-icon-thumb:hover {
  transform: scale(1.03);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.menu-icon-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
